@font-face {
    font-family: 'aasaam-Noto';
    src: url("./fonst/aasaam-NotoSansArabicUI-Light.eot");
    src: url("./fonts/aasaam-NotoSansArabicUI-Light.eot#iefix") format("embedded-opentype"), url("./fonts/aasaam-NotoSansArabicUI-Light.woff") format("woff"), url("./fonts/aasaam-NotoSansArabicUI-Light.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
