@charset "utf-8";

@import "../node_modules/bulma/bulma.sass";
@import "font";

body {
    font-family: "aasaam-Noto";
    direction: rtl;
}

input,
button {
    font-family: "aasaam-Noto";
}
.field.center {
    justify-content: center !important;
    .control {
        button {
            margin-left: 12px;

        }
    }
}